<div id="levels">
  <h2><div id="back"><a href="<%= solutions_url %>">&lt;&lt; Back</a></div>&nbsp;&nbsp;|&nbsp;Levels</h2>
  <h3><%= params[:difficulty] %></h3>
  <div class="padleft">&nbsp;</div>
  <div id="levels-list">
    <% @levels.each do |level| %>
      <div class="level">
        <h4><a href="<%= new_solution_url :level_id => level.id %>"><%= level.title(false) %></a></h4>
        <p><%= level.hype_text %></p>
      </div>
    <% end %>
  </div>
  <div class="padright">&nbsp;</div>
</div>
