<div id="help">
<h2>Help</h2>
<h3>00. Achieve Goals by Programming C.A.R.L.</h3>
<%= image_tag 'help/goals.jpg' %>
<p>
Remember, 0,0 is the top left; use the coordinate guides to help.
</p>
<h3>01. Drag Commands to Programm C.A.R.L.</h3>
<%= image_tag 'help/program.jpg' %>
<p>
You can also re-order the commands and place new ones wherever you like.  Some commands are initially locked, but become unlocked as you play more!
</p>
<h3>02. Delete Commands you don't want</h3>
<%= image_tag 'help/delete.jpg' %>
<p>
</p>
<h3>03. Run your program any time</h3>
<%= image_tag 'help/run.jpg' %>
<p>
You will see the result of running your program inside C.A.R.L.'s memory banks.
</p>
<h3>04. Oops, C.A.R.L. Asplode!</h3>
<%= image_tag 'help/explode.jpg' %>
<p>
If you run C.A.R.L. into a wall, tell him to pick up a non-existent beacon, or put one down when he doesn't have any, you might not like what happens (but it's not biggie, just rewrite your code and try again!)
</p>
<h3>05. After each run, check which Goals you've achieved</h3>
<%= image_tag 'help/failed_goals.jpg' %>
<p>
Keep trying until you reach all the goals.  Once you do, head to the next level!
</p>
<h3>06. I think I found a big</h3>
Although the last 48 hours has been nothing but an IBM-Cleanroom, UncleBobMartin TDD, Kent-Beck Approved High Quality Software Delivery Fest, it's possible (however unlikely), that you've found a problem with C.A.R.L.'s programming interface.  Feel free to <a href="<%= about_credits_url %>">let me know</a>.
</div>
