<div id="solution">
  <h2><%= @level.difficulty %> <%= sprintf("%02d",@level.ordinal) %>: <%= @level.name %></h2>
  <div id="program">
    <%= form_for @solution do |f| %>
      <%= f.hidden_field :level_id, :name => 'level_id' %>
      <div id="code"><%= f.text_area :code, :name => 'code', :value => @solution.code.nil? ? '' : @solution.code.join("\n") %></div>
      <div id="execute"><%= f.submit 'Save Solution' %></div>
    <% end %>
  </div>
  <div id="playfield">
    <div class="controls">
      <div class="command" id="move"><div>Move</div></div>
      <div class="command" id="turnleft"><div>Turn Left</div></div>
      <div class="command" id="pickbeacon"><div>Pick Beacon</div></div>
      <div class="command" id="putbeacon"><div>Put Beacon</div></div>
      <div class="sub" id="sub1"><div>sub1</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="branch"><div>Branch</div></div>
      <div class="sub" id="sub2"><div>sub2</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="loop"><div>Loop</div></div>
      <div class="sub" id="sub3"><div>sub3</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="iterate"><div>Iterate</div></div>
      <div class="sub" id="sub4"><div>sub4</a></div></div>
    </div>
    <div id="board">
      <% goal_square = @level.goal.carl %>
      <div id="goal-title"><h3>Goals:</h3></div>
      <div id="goal-list">
        <ul>
          <%= goal_li(@execution_result0.carl_goal_met?,@level.goal,:carl_goal_met?,new) %>
          <% if @execution_result0.beacon_goals? %>
            <%= goal_li(@execution_result0.beacon_goals_met?,@level.goal,:beacons_goal_met?,new) %>
          <% end %>
          <% if @execution_result0.lines_of_code_goal? %>
            <%= goal_li(@execution_result0.lines_of_code_goal_met?,@level.goal,:lines_of_code_goal_met?,new) %>
          <% else %>
            <li>&nbsp;</li>
          <% end %>
        </ul>
      </div>
      <div id="execution-result-summary">
        <% if new %>
          <div class="ready"><h4>READY!</h4></div>
        <% else %>
          <% if @execution_result0.exploded? %>
            <div class="explosion"><h4>BOOM!</h4>C.A.R.L. ran into something or did something he couldn't do!  Try Again.</div>
          <% elsif @execution_result0.lines_of_code_goal_met? && @execution_result0.beacon_goals_met? && @execution_result0.carl_goal_met? %>
            <div class="passed"><h4>YAY!</h4>You did it!  Move on to the next level &gt;&gt;</div>
          <% else %>
            <div class="failure"><h4>FAIL.</h4>You didn't meet all the goals; keep working on your code!</div>
          <% end %>
        <% end %>
      </div>
      <%
        hidden = ''
        hidden = 'hidden' if @board1.nil?
      %>
      <div id="board0-title" class="board0 <%= hidden %>"><h3>Board 00</h3></div>
      <div id="board1-title" class="board1 <%= hidden %>"><h3>Board 01</h3></div>
      <% 8.times do |row| %>
        <% 2.times do |board_num| %>
          <% 8.times do |col| %>
            <% 
               board = @board0
               board = @board1 if board_num == 1
               klass = "board-square"
               klass = "board-square-end" if board_num == 1 && col == 7
               klass = "board-square-board0-end" if board_num == 0 && col == 7
               klass += " last-row" if row == 7
               klass += " " + hidden if board_num == 1
               square_contents = ''
               unless board.nil?
                 square_contents = 'wall' if board.wall?(row,col)
                 square_contents = 'beacon' if board.beacon?(row,col)
                 square_contents = 'goal' if goal_square == [row,col]
                 square_contents = 'explosion' if board.map[row][col] == :explosion
                 square_contents += ' carl' if board.carl?(row,col) && board.map[row][col] != :explosion
               end
             %>
             <div class="<%= klass %> board<%= board_num %> <%= square_contents %>" id="board<%= board_num %>-<%= row %>-<%= col %>"><div class="square">&nbsp;</div></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

