<%
  branch_enabled = 'draggable'
  loop_enabled = 'draggable'
  iterate_enabled = 'draggable'
  branch_enabled = 'disabled' if @level.difficulty == 'tutorial' 
  loop_enabled = 'disabled' if @level.difficulty == 'tutorial'
  iterate_enabled = 'disabled' if @level.difficulty == 'tutorial'

  loop_enabled = 'disabled' if @level.difficulty == 'easy' && @level.ordinal <= 1
  branch_enabled = 'disabled' if @level.difficulty == 'easy' && @level.ordinal <= 6
%>
<div id="solution">
  <h2><div id="back">
      <a href="<%= levels_url :difficulty => @level.difficulty %>">&lt;&lt; Levels</a>&nbsp;&nbsp;
      <a href="<%= solutions_url %>">&lt;&lt; Solutions</a>
  </div>&nbsp;&nbsp;|&nbsp;<%= @level.difficulty %> <%= sprintf("%02d",@level.ordinal) %>: <%= @level.name %></h2>
  <% if @level.instructions %>
    <div id="instructional-text">
      <p>
      <%= raw(@level.instructions) %>
      </p>
    </div>
  <% end %>
  <div id="program" style="<%= !@solution.code.nil? && @solution.code.size > 4 ? "" : "height: 500px;" %>">
    <% some_code = !(@solution.code.nil? || @solution.code.empty?) %>
    <div class="trash top" <%= some_code ? '' : raw('style="visibility: hidden"')%>>&darr;Drop Command to Remove&darr;</div>
    <div id="source">
      <% unless some_code %>
        <div id="placeholder">Drop Code Here To Start</div>
      <% end %>
      <% @counter = 0 %>
      <%= render_code(@solution.code,@execution_result0.last_line,@execution_result0.exploded?) %>
    </div>
    <%= form_for @solution do |f| %>
      <%= f.hidden_field :level_id, :name => 'level_id' %>
      <div id="code"><%= f.text_area :code, :name => 'code' %></div>
      <div class="trash bottom" <%= some_code ? '' : raw('style="visibility: hidden"')%>>&uarr;Drop Command to Remove&uarr;</div>
      <div id="execute"><%= f.submit "RUN!" %></div>
    <% end %>
  </div>
  <div id="playfield">
      <% goal_square = @level.goal.carl %>
    <div class="controls">
      <div class="command draggable" id="move"><div><div>&#x2191;</div></div></div>
      <div class="command draggable" id="turnleft"><div><div>&#x21B0;</div></div></div>
      <div class="command draggable" id="pickbeacon"><div><div>&#x21F1;</div></div></div>
      <div class="command draggable" id="putbeacon"><div><div>&#x21F2;</div></div></div>
      <div class="goals" id="goal-title"><div><h3>Goals:</h3></div></div>
    </div>
    <div class="controls">
      <div class="control-command <%= iterate_enabled %>" id="iterate"><div><div>&#x21C8; <span class="command-name">Iterate</span></div></div></div>
      <div class="subroutine disabled" id="sub1"><div><div>SUB 00</div></div></div>
      <div class="goals" id="carl-goal"><div>
          <%= goal_markup(true,@execution_result0.carl_goal_met? && (@execution_result1 != nil && @execution_result1.carl_goal_met?),@level.goal,:carl_goal_met?,new,nil) %>
      </div></div>
    </div>
    <div class="controls">
      <div class="control-command <%= loop_enabled %>" id="loop"><div><div>&#x21BA; <span class="command-name">Loop</span></div></div></div>
    <div class="subroutine disabled" id="sub2"><div><div>SUB 01</div></div></div>
      <div class="goals" id="loc-goal"><div>
          <%= goal_markup(@execution_result0.lines_of_code_goal?, @execution_result0.lines_of_code_goal_met? && (@execution_result1 != nil && @execution_result1.lines_of_code_goal_met?), @level.goal,:lines_of_code_goal_met?,new,"No lines of code goals for this level") %>
      </div></div>
    </div>
    <div class="controls">
      <div class="control-command <%= branch_enabled %>" id="branch"><div><div>&#x21B9; <span class="command-name">Branch</span></div></div></div>
        <div class="subroutine disabled" id="sub3"><div><div>SUB 10</div></div></div>
      <div class="goals" id="beacon-goal"><div>
          <%= goal_markup(@execution_result0.beacon_goals?, @execution_result0.beacon_goals_met? && @execution_result1 != nil && @execution_result1.beacon_goals_met?, @level.goal,:beacons_goal_met?,new,"No beacon goals for this level") %>
      </div></div>
    </div>
    <div id="board">
      <% exploded = @execution_result0.exploded? || (@execution_result1  != nil && @execution_result1.exploded?) %>
      <div id="execution-result-summary"><div>
        <% if new %>
          <div class="ready"><h4>READY!</h4></div>
        <% else %>
          <% if exploded %>
            <div class="explosion"><h4>BOOM!</h4>C.A.R.L. ran into something or did something he couldn't do!  Try Again.</div>
          <% elsif @execution_result0.lines_of_code_goal_met? && @execution_result0.beacon_goals_met? && @execution_result0.carl_goal_met?  && @execution_result1.lines_of_code_goal_met? && @execution_result1.beacon_goals_met? && @execution_result1.carl_goal_met? %>
            <div class="passed" onclick="navigate('<%= new_solution_url :level_id => @level.next.id %>');"><h4>YAY!</h4>You did it!  <a href="<%= new_solution_url :level_id => @level.next.id %>">Move on to the next level &gt;&gt;</a></div>
          <% else %>
            <div class="failure"><h4>FAIL.</h4>You didn't meet all the goals (but at least you didn't explode!); keep at it!</div>
          <% end %>
        <% end %>
      </div></div>
      <%
        hidden = ''
        hidden = 'hidden' if @board1.nil?
      %>
      <div id="board0-title" class="board0 <%= hidden %>"><h3>Board 00</h3></div>
      <div id="board1-title" class="board1 <%= hidden %>"><h3>Board 01</h3></div>
      <div class="board-square">0,0</div>
      <% 6.times do |x| %>
        <div class="board-square">&nbsp;</div>
      <% end%>
      <div class="board-square-board0-end">7,0</div>
      <div class="<%= hidden %> board-square">0,0</div>
      <% 6.times do |x| %>
        <div class="<%= hidden %> board-square">&nbsp;</div>
      <% end%>
      <div class="<%= hidden %> board-square-end">7,0</div>
      <% 8.times do |row| %>
        <% 2.times do |board_num| %>
          <% 8.times do |col| %>
            <% 
               board = @board0
               execution_result = @execution_result0
               if board_num == 1
                 board = @board1
                 execution_result = @execution_result1
               end
               klass = "board-square"
               klass = "board-square-end" if board_num == 1 && col == 7
               klass = "board-square-board0-end" if board_num == 0 && col == 7
               klass += " last-row" if row == 7
               klass += " " + hidden if board_num == 1
               square_contents = ''
               unless board.nil?
                 goal = goal_square == [row,col]
                 carl = board.carl?(row,col)
                 explosion = board.map[row][col] == :explosion
                 wall = board.wall?(row,col)
                 beacon = board.beacon?(row,col)

                 if wall
                 square_contents = 'wall'
                 elsif explosion
                   square_contents = 'explode'
                 else
                   if goal && carl
                     square_contents = 'goal-carl-' + execution_result.carl.direction.to_s
                   elsif goal
                     square_contents = 'goal'
                   elsif carl && beacon
                     square_contents = 'beacon-carl-' + execution_result.carl.direction.to_s
                   elsif carl
                     square_contents = 'carl-' + execution_result.carl.direction.to_s
                   elsif beacon
                     square_contents = 'beacon'
                   end
                 end
               end
             %>
             <div class="<%= klass %> board<%= board_num %> <%= square_contents %>" id="board<%= board_num %>-<%= row %>-<%= col %>"><div class="square">&nbsp;</div></div>
          <% end %>
        <% end %>
      <% end %>
      <div class="board-square">0,7</div>
      <% 6.times do |x| %>
        <div class="board-square">&nbsp;</div>
      <% end%>
      <div class="board-square-board0-end">7,7</div>
      <div class="<%= hidden %> board-square">0,7</div>
      <% 6.times do |x| %>
        <div class="<%= hidden %> board-square">&nbsp;</div>
      <% end%>
      <div class="<%= hidden %> board-square-end">7,7</div>
    </div>
  </div>
</div>
<div class="tooltip"></div>

