<div id="solutions">
  <div id="start">
    <h2>Start</h2>
    <%= difficulty_box("tutorial","Tutorial","Get your robotic feet wet and learn the ropes",levels_url(:difficulty=>'tutorial')) %>
    <%= difficulty_box("easy","Easy","Get started and unlock C.A.R.L.'s potential!",levels_url(:difficulty=>'easy')) %>
    <%= difficulty_box("hard","Hard","Can you handle a REAL programming challenge?",levels_url(:difficulty=>'hard')) %>
  </div>
  <div id="resume">
    <h2>Resume</h2>
    <% if @solutions.empty? %>
      You haven't started a game yet, why not start one now?
    <% else %>
      <ul>
        <% @solutions.each do |solution| %>
          <li class="<%= solution.level.difficulty %>"><a href="<%= edit_solution_url solution %>"><%= solution.level.title %></a><span class="timestamp"><br />(<%= solution.updated_at %>)</span></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
