<div id="solution">
  <h2>Level XX</h2>
  <div id="program">
    <%= form_for @solution do |f| %>
      <%= f.hidden_field :level_id, :name => 'level_id' %>
      <div id="code"><%= f.text_area :code, :name => 'code' %></div>
      <div id="execute"><%= f.submit 'Save Solution' %></div>
    <% end %>
  </div>
  <div id="playfield">
    <div class="controls">
      <div class="command" id="move"><div>Move</div></div>
      <div class="command" id="turnleft"><div>Turn Left</div></div>
      <div class="command" id="pickbeacon"><div>Pick Beacon</div></div>
      <div class="command" id="putbeacon"><div>Put Beacon</div></div>
      <div class="sub" id="sub1"><div>sub1</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="branch"><div>Branch</div></div>
      <div class="sub" id="sub2"><div>sub2</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="loop"><div>Loop</div></div>
      <div class="sub" id="sub3"><div>sub3</a></div></div>
    </div>
    <div class="controls">
      <div class="control-command" id="iterate"><div>Iterate</div></div>
      <div class="sub" id="sub4"><div>sub4</a></div></div>
    </div>
    <div id="board">
      <h2>Carmack</h2>
      <ul>
        <li>Bring Carl to the goal square</li>
        <li>Get there in 10 lines of code or less</li>
      </ul>
      <div id="board0-title" class="board0"><h3>Board 00</h3></div>
      <div id="board1-title" class="board1"><h3>Board 01</h3></div>
      <% 8.times do |row| %>
        <% 2.times do |board| %>
          <% 8.times do |col| %>
            <% klass = "board-square"
               klass = "board-square-end" if board == 1 && col == 7
               klass = "board-square-board0-end" if board == 0 && col == 7
               klass += " last-row" if row == 7 %>
               <div class="<%= klass %> board<%= board %>" id="board<%= board %>-<%= row %>-<%= col %>"><div class="square">&nbsp;</div></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

