<!DOCTYPE html>
<html>
<head>
  <title>Carl</title>
  <%= stylesheet_link_tag 'screen','styles' :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print' :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "id", :media => "screen,projection" %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
